package {{ctx.root_namespace | replace("go", "golang")}}

{% for attr in ctx.attributes %}
{% set Name = attr.name[(attr.root_namespace|length)+1:] | pascal_case %}
{{ (attr.brief|default("") + "\n" + attr.note|default("")) | comment }}
type Attr{{Name}} string // {{ attr.name }}

func (Attr{{Name}}) {{attr.stability | pascal_case}}() {}
func (Attr{{Name}}) {{attr.requirement_level | pascal_case}}() {}
{% endfor %}


/* {{ debug() }} */
